@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul,
ol,
li {
  list-style-type: none;
}

body {
  font-family: 'Castoro Titling';
  font-size: larger;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 76.25rem;
  margin: auto;
  padding: 1.25rem;
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

p {
  line-height: 1.8;
}
